[Desktop Entry]
Encoding=UTF-8
Name=DarkTaelon Wallet
Comment=DarkTaelon wallet
Exec=DarkTaelonwallet %U
Terminal=false
Type=Application
Icon=darktaelon
MimeType=x-scheme-handler/darktaelon;
Categories=Office;Finance;
